*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #121212;
}
.frame{
    width: 100%!important;
    height: auto!important;
}

.title{
    background-color: #ff5a22;
    border: 2px solid #f0602e;
    color: #fff;
    width: 100%;
    height: 30px;
    font-size: 120%;
    font-weight: bold;
    line-height: 35px;
    text-align: center;
    margin-bottom: 10px;
}

.news-items{
    padding: 0 !important;
    list-style-type: none !important;
    width: 100%;
}

.news-item:first-child{
    border-top: none;
    margin: 0 !important;
    padding: 14px 0;
}

.news-item{
    border-top: 1px solid #e5e5e5;
    margin: 0 !important;
    padding: 14px 0;
}

.news-item-less-30{
    background-color: #BC4441;
    padding: 15px;
}


.news-item a{
    padding-top: 2px;
    text-decoration: none;
    justify-content: center;
}

.news-item a center{
    padding-top: 15px;    
}

.news-item-image{
    max-width: 100%;
    height: auto!important;
    width: 100%;
}


img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    aspect-ratio: auto 568 / 426;

}

a {
    color: #fff;
    transform: translateZ(0px);
    transition: color 0.2s linear 0s;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    
}